@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Courier';
  color: #FFF;
  font-size: 13pt;
  line-height: 11pt;
  height: 100%;
}

canvas {
  display: block;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  position: absolute;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;

  flex-direction: column;
}

h2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
  /* text-decoration: underline; */
  text-transform: uppercase;
  margin: 10px 0px;
}

h3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  color: white;
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 7px;
}

.back-btn {
  margin-bottom: 50px;
}

.back-btn a {
  text-decoration: none;
}

.back-btn:hover h2 {
  color: grey;
}

/* ----------------------------- */

/* Styles the whole slider */
.mySliders {
  margin-top: 75px;
  width: 200px;
  background-color: transparent;

  /* Removes some defaults */
  -webkit-appearance: none;
}


/* These styles affect what happens when the cursor is focused on the slider (i.e. clicking it) */
.mySliders:focus {

  /* Stops the default outline showing up */
  outline: none;
}

/* This is the "track" that the slider sits on  */
.mySliders::-webkit-slider-runnable-track {
  background: grey;
  height: 3px;
  -webkit-appearance: none;

  /* Turns the cursor into the hand pointer icon when hovering over the slider  */
  cursor: pointer;

}

/* This is the moveable bit of the slider, known as the "thumb"*/
.mySliders::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;

  /* negative top padding moves it up */
  margin-top: -6px;


  /* Border radius gives rounded corners, if they're big enough, you end up with circles */
  border-radius: 8px;

}

/* ------------------------ */

.nav {
  width: 100%;
  height: auto;
  display: flex;
  margin: 50px 0 0 0 !important;
  align-items: center;
  justify-content: center;
}

.nav1 {
  flex: 1;
  text-align: center;
}

.nav2 {
  flex: 1;
  /* text-align:center; */
}

.nav3 {
  flex: 2;
}

.nav4 {
  flex: 1;
}

.nav5 {
  flex: 1;
}


.nav1 img {
  width: 125px;
  height: auto;
}

.nav2 img {
  width: 125px;
  height: auto;
}


/* Modal Css  */

/* h1 für Header im Modal */

/* h2 für Text im Modal */
h2 {
  color: white;
}

.btn h3 {
  color: black;
}

.btn:hover h3 {
  color: white;
}

/* StartButton im Modal */
.btn {
  background: white;
  border: black solid 1px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 3px 15px 0 15px;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
}

.btn:hover {
  background: black;
  border: white solid 1px;
}

/* Modal wenn unsichtbar */
.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

/* Modal wenn sichtbar */
.opened:before {
  display: block;
}

.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 40%;
}

/* ModalBody für den Gesamt-Style verantowrtlich */
.modal-dialog {
  background: black;
  border: white solid 1px;
  border-radius: 5px;
  margin-left: -9.5%;
  text-align: center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

/* Padding des jeweiligen Abschnitts definiert Abstände nach außen */
.modal-body {
  padding: 20px;
}

.modal-header,
.modal-footer {
  padding: 5px 5px;
}

/* Border ist die Trennlinie zwischen Willkommen und dem Body text */
.modal-header {
  padding: 5px;
  border-bottom: #eeeeee solid 1px;
}
